@model IEnumerable<Course>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="table-responsive pt-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        CourseName
                    </th>
                    <th>
                        Language
                    </th>
                    <th>
                        StudentsCount
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        IsDeleted
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Course item in Model)
                {
                <tr>
                    <td>
                        <img src="~/img/course/@item.Image" alt="Alternate Text" />
                    </td>
                    <td>
                        @item.CourseName
                    </td>
                    <td>
                        @item.Language
                    </td>
                    <td>
                        @item.StudentsCount
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @item.IsDeleted
                    </td>
                    <td>
                        <a class="btn btn-success" asp-action="Detail" asp-route-id="@item.Id">
                            Detail
                        </a>
                        <a class="btn btn-warning" asp-action="Update" asp-route-id="@item.Id">
                            Update
                        </a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                            Delete
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

