@model Event
@{
    ViewData["Title"] = "Delete";
}


<div class="row">
    <div class="table-responsive pt-3">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        EventName
                    </th>
                    <th>
                        Venue
                    </th>
                    <th>
                        StartTime
                    </th>
                    <th>
                        EndTime
                    </th>
                    <th>
                        IsDeleted
                    </th>
                </tr>
            </thead>
            <tbody>
              
                    <tr>
                        <td>
                            <img src="~/img/event/@Model.Image" alt="Alternate Text" />
                        </td>
                        <td>
                            @Model.EventName
                        </td>
                        <td>
                            @Model.Venue
                        </td>
                        <td>
                            @Model.StartTime.ToString("h:mm tt")
                        </td>
                        <td>
                            @Model.EndTime.ToString("h:mm tt")
                        </td>
                        <td>
                            @Model.IsDeleted
                        </td>
                        <td>
                            <a class="btn btn-success" asp-action="Details" asp-route-id="@Model.Id">
                                Detail
                            </a>
                            <a class="btn btn-warning" asp-action="Update" asp-route-id="@Model.Id">
                                Update
                            </a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">
                                Delete
                            </a>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>

<form class="forms-sample" method="post" enctype="multipart/form-data">
    <button type="submit" class="btn btn-danger mr-2">Delete</button>
    <a class="btn btn-light" asp-controller="Dashboard" asp-action="Index">Cancel</a>
</form>

