@model IEnumerable<Notice>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="table-responsive pt-3">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th>
                        VideoLink
                    </th>
                    <th>
                        NoticeDate
                    </th>
                    <th>
                        IsDeleted
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Notice item in Model)
                {
                    <tr>
                        <td>
                            @item.VideoLink
                        </td>
                        <td>
                            @item.NoticeDate
                        </td>
                        <td>
                            @item.IsDeleted
                        </td>

                        <td>
                            <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">
                                Detail
                            </a>
                            <a class="btn btn-warning" asp-action="Update" asp-route-id="@item.Id">
                                Update
                            </a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class=" row mt-3 justify-content-center">
    <nav aria-label="...">
        <ul class="pagination pagination-sm">
            @for (int i = 1; i <= ViewBag.PageCount; i++)
            {
                if (ViewBag.Page == i)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-area="Admin" asp-controller="Notice" asp-action="Index" asp-route-page="@i">
                            @i
                        </a>
                    </li>
                }
            }
        </ul>
    </nav>
</div>

